@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@layer base {
  @font-face {
    font-family: "Outfit";
    src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html,
body {
  @apply bg-babyPowder;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

:root {
  --dark-blue: #2d5be4;
  --light-blue: #6f87cf;
  --dark-sand: #eca643;
  --light-sand: #fbddb4;
  --baby-powder: #f5f7f9;

  --content-width: calc(100vw - 24rem);
  background-color: var(--baby-powder);
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl;
}

@layer utilities {
  .central-content {
    @apply px-6 md:px-32 lg:px-48;
  }
  .break-right-form {
    @apply lg:pl-48 lg:pr-0;
  }

  .page-top-spacing {
    @apply pt-32;
  }

  @media (min-width: 1268px) {
    .page-top-spacing {
      @apply pt-44;
    }
  }

  .hightlight-text {
    font-size: inherit;
    color: var(--dark-sand);
  }
}

#header {
  @apply z-50 flex justify-between align-middle sticky top-0 py-10;

  a {
    &:hover {
      @apply cursor-pointer;
    }
  }

  &.whitebg {
    @apply bg-babyPowder;
    a {
      @apply text-blue-deep;
    }
  }

  &.bluebg {
    @apply bg-blue-deep;
    a {
      @apply text-babyPowder;
    }
  }

  &.sandbg {
    @apply bg-sands-light;
    a {
      @apply text-blue-deep;
    }
  }
  .home {
    @apply text-3xl font-medium;
    line-height: 0;
  }

  .link {
    @apply text-xl;
    line-height: 1;
  }
}

#hero {
  @apply flex flex-col gap-12 mb-28 lg:flex-row;

  @media (min-width: 1268px) {
    gap: 6rem;
  }

  .greet-section {
    @apply flex flex-col justify-between h-full;
    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--dark-blue);
      line-height: 1.2;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: var(--dark-sand);
      line-height: 1.2;
    }
    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--dark-blue);
      line-height: 1.2;
    }
    h4 {
      font-size: 1rem;
      font-weight: 400;
      color: var(--dark-blue);
    }

    .greet-header {
      @apply flex flex-col gap-3;
    }

    .greet-buttons {
      @apply flex gap-2 mt-6;
    }

    @media (min-width: 1268px) {
      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--dark-blue);
        line-height: 1.2;
      }
      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: var(--dark-sand);
        line-height: 1.2;
      }
      h2 {
        font-size: 2.8rem;
        font-weight: bold;
        color: var(--dark-blue);
        line-height: 1.2;
      }
      h4 {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--dark-blue);
      }
    }
  }
  .photo-section {
    @apply w-full flex justify-center;
    #my-photo {
      @apply flex justify-center object-cover rounded-md shadow-xl ring-4 ring-offset-8 ring-sands-dark;
      height: 18rem;
      min-width: 15rem;
    }

    @media (min-width: 1268px) {
      #my-photo {
        @apply flex-none;
        height: 22rem;
      }
    }
  }
}

#about {
  @apply bg-blue-deep;

  .content {
    @apply pb-20;
  }

  @media (min-width: 1268px) {
    .content {
      @apply pb-48;
    }
  }
  h1,
  p {
    @apply text-babyPowder;
  }

  h1 {
    @apply mb-16;
  }

  h2 {
    @apply mb-12 text-sands-dark;
  }

  p {
    @apply mb-14;
  }

  .logo-display {
    @apply flex justify-center flex-wrap gap-5;

    .tech-logo {
      @apply w-9;
    }
  }
}

#experience {
  /* @apply h-screen; */

  h1 {
    @apply mb-16 text-blue-deep;
  }

  .experience-item {
    @apply flex flex-col justify-center items-center gap-8;

    .experience-item-content {
      h2 {
        @apply mb-3 text-sands-dark font-bold;
      }
      h1 {
        @apply mb-8 text-blue-deep;
      }
      p {
        @apply text-blue-deep;
      }
      .tech-stack {
        @apply flex flex-wrap gap-2 mt-8 mb-32;
        p {
          @apply text-blue-light;
        }
      }
    }
  }
  .experience-item-photo {
    @apply object-cover;
  }
}

@media (min-width: 1268px) {
  #experience {
    @apply break-right-form;

    h1 {
      @apply mb-0;
    }
    .experience-item {
      @apply flex-row items-start;
      .experience-item-content {
        @apply pt-10;
      }
    }
    .experience-item-photo {
      @apply h-full object-cover;
      /* flex-shrink: 0; */
      /* min-width: 100%; */
      /* min-height: 100% */
    }
  }
}

#contact {
  @apply bg-sands-light;
  .content {
    @apply pb-20;
  }

  @media (min-width: 1268px) {
    .content {
      @apply pb-24;
    }
  }

  h1 {
    @apply text-sands-dark mb-36;
  }

  p {
    @apply text-blue-deep font-bold;
  }

  .contact-links {
    @apply flex justify-between flex-wrap w-9/12 mb-56;
    .row {
      @apply flex flex-col gap-8 mb-8 min-w-48;

      a {
        @apply text-blue-deep font-bold;
        &:hover {
          @apply underline cursor-pointer;
        }
      }
    }
  }

  hr {
    @apply bg-blue-deep mt-72;
    height: 1px;
    border: 0;
  }

  @media (min-width: 1268px) {
    hr {
      @apply mt-0;
    }
  }

  .footer {
    @apply flex justify-between mt-2.5;
    .footer-social {
      @apply flex gap-2 items-center;
      img {
        @apply w-5 h-5;
      }
    }
  }
}
@layer components {
  .carousel-wrapper {
    --carousel-card-num-in-screen: 1;
    --carousel-card-width: calc(80vw / var(--carousel-card-num-in-screen));
    --carousel-width: calc(
      var(--carousel-card-width) * var(--carousel-card-num-in-screen)
    );
    @apply overflow-hidden relative;
    .carousel {
      @apply flex flex-row transition-transform duration-500 ease-in-out;

      &.left {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
        animation-name: prev;
      }

      &.right {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
        animation-name: next;
      }

      .carousel-item {
        @apply min-w-full opacity-10;
        transition: opacity 1s ease;

        &.active {
          @apply opacity-100;
        }
      }
    }
  }

  .ui {
    @apply flex z-10 items-center absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    .button-prev,
    .button-next {
      @apply cursor-pointer;
      /* @apply bg-babyPowder; */
    }

    .indicator {
      @apply flex justify-center;
      .dot {
        @apply bg-blue-light opacity-50;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 1.5rem;
        margin: 0 0.3rem;
        outline: none;
        transform: scale(0.5);
        width: 1.5rem;
        &.active {
          @apply bg-blue-deep opacity-100;
        }
      }
    }
  }

  @media (min-width: 1268px) {
    .carousel-wrapper {
      .carousel {
        @apply flex-row;
        .carousel-item {
          /* @apply w-96; */
          width: var(--content-width);
        }
      }
    }
    .ui {
      left: 18%;
    }
  }
}
