@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html,
body {
  @apply bg-babyPowder;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

:root {
  --dark-blue: #2d5be4;
  --light-blue: #6f87cf;
  --dark-sand: #eca643;
  --light-sand: #fbddb4;
  --baby-powder: #f5f7f9;

  background-color: var(--baby-powder);
}

h1 {
  @apply text-4xl font-bold mb-16;
}

h2 {
  @apply text-2xl mb-12;
}

.central-content {
  @apply px-6 md:px-32 lg:px-48;
}

.hightlight-text {
  font-size: inherit;
  color: var(--dark-sand);
}

#hero {
  @apply flex flex-col lg:flex-row;
  gap: 3rem;
  margin-top: 7rem;
  margin-bottom: 5rem;

  @media (min-width: 1268px) {
    gap: 6rem;
    margin-top: 14.5rem;
  }

  .greet-section {
    @apply flex flex-col justify-between h-full;
    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--dark-blue);
      line-height: 1.2;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: var(--dark-sand);
      line-height: 1.2;
    }
    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--dark-blue);
      line-height: 1.2;
    }
    h4 {
      font-size: 1rem;
      font-weight: 400;
      color: var(--dark-blue);
    }

    .greet-header {
      @apply flex flex-col gap-3;
    }

    .greet-buttons {
      @apply flex gap-2 mt-6;
    }

    @media (min-width: 1268px) {
      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--dark-blue);
        line-height: 1.2;
      }
      h1 {
        font-size: 4rem;
        font-weight: bold;
        color: var(--dark-sand);
        line-height: 1.2;
      }
      h2 {
        font-size: 2.8rem;
        font-weight: bold;
        color: var(--dark-blue);
        line-height: 1.2;
      }
      h4 {
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--dark-blue);
      }
    }
  }
  .photo-section {
    @apply w-full flex justify-center;
    #my-photo {
      @apply flex justify-center object-cover rounded-md shadow-xl ring-4 ring-offset-8 ring-sands-dark;
      height: 18rem;
      min-width: 15rem;
    }

    @media (min-width: 1268px) {
      #my-photo {
        @apply flex-none;
        height: 22rem;
      }
    }
  }
}

#about {
  @apply bg-blue-deep;

  .content {
    @apply pt-32 pb-20;
  }

  @media (min-width: 1268px) {
    .content {
      @apply pt-52 pb-48;
    }
  }
  h1,
  p {
    @apply text-babyPowder;
  }

  h2 {
    @apply text-sands-dark;
  }

  p {
    @apply mb-14;
  }

  .logo-display {
    @apply flex justify-center flex-wrap gap-5;

    .tech-logo {
      @apply w-9;
    }
  }
}

#contact {
  @apply bg-sands-light;
  .content {
    @apply pt-48 pb-20;
  }

  @media (min-width: 1268px) {
    .content {
      @apply pt-52 pb-24;
    }
  }

  h1 {
    @apply text-sands-dark;
  }

  p {
    @apply text-blue-deep font-bold;
  }

  .contact-links {
    @apply flex justify-between flex-wrap w-9/12 mb-56;
    .row {
      @apply flex flex-col gap-8 mb-8 min-w-48;

      a {
        @apply text-blue-deep font-bold;
        &:hover {
          @apply underline cursor-pointer;
        }
      }
    }
  }

  hr {
    @apply bg-blue-deep mt-72;
    height: 1px;
    border: 0;
  }

  @media (min-width: 1268px) {
    hr {
      @apply mt-0;
    }
  }

  .footer {
    @apply flex justify-between mt-2.5;
    .footer-social {
      @apply flex gap-2 items-center;
      img {
        @apply w-5 h-5;
      }
    }
  }
}
