@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

:root {
  --dark-blue: #2d5be4;
  --light-blue: #6f87cf;
  --dark-sand: #eca643;
  --light-sand: #fbddb4;
  --baby-powder: #fbf9fe;

  background-color: var(--baby-powder);
}

#main-container {
  &.large {
    margin: auto 8rem;
  }
  &.medium {
    margin: auto 4rem;
  }
  &.small {
    margin: auto 1.5rem;
  }
}

#hero {
  display: flex;
  margin-top: 14.5rem;
  .left-section {
    flex: auto;
    flex-direction: column;
    h3 {
      font-size: 2rem;
      font-weight: bold;
      color: var(--dark-blue);
    }
    h1 {
      font-size: 4rem;
      font-weight: bold;
      color: var(--dark-sand);
    }
    h2 {
      font-size: 3rem;
      font-weight: bold;
      color: var(--dark-blue);
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--dark-blue);
    }
  }
  .right-section {
  }
}
